<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.urbanstew.SoundCloudDroid"
      android:versionCode="7" android:versionName="0.6.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    	<provider android:name="SoundCloudData" android:authorities="org.urbanstew.provider.SoundCloudDroid"></provider>
    	
        <activity android:name=".SoundCloudDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity
	    	android:name="ObtainAccessToken"
	    	android:configChanges="keyboardHidden|orientation"
	    	>
	    </activity>

	    <activity android:name="SettingsActivity"></activity>
	    
	    <activity
	    	android:name="UploadsActivity"
	    	android:launchMode="singleTop"
			android:allowTaskReparenting="true">
	    </activity>

	    <activity
	    	android:name="UploadActivity"
	    	android:configChanges="keyboardHidden|orientation"
	    	>
	    	<intent-filter>
	    		<action android:name="android.intent.action.SEND"></action>
				<data android:mimeType="audio/*"></data>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

	    <service android:name="SoundCloudService">
			<intent-filter>
			<action android:name="com.soundcloud.upload"></action>
			<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		    <intent-filter>
		                <!-- These are the interfaces supported by the service, which
		                     you can bind to. -->
		                <action android:name="org.urbanstew.SoundCloudDroid.ISoundCloudService" />
		    </intent-filter>
		</service>
    
	</application>

	<uses-sdk android:minSdkVersion="4"/>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 